

<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layoutadmin :: head"></head>
<body class="hold-transition skin-red sidebar-mini">
<div class="wrapper">
    <header th:replace="layoutadmin :: header"></header>
    <aside th:replace="layoutadmin :: aside"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-15">
                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="../../static/dist/img/avatar.png" th:src="@{/dist/img/avatar.png}" alt="User profile picture"/>
                            <h3 class="profile-username text-center">Admin</h3>
                            <p class="text-muted text-center">Administrator</p>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                    <div class="box box-primary">
                        <section class="content">
                            <section class="content">
                            <form action="#" th:action="@{/tms/staffs/update}" th:object="${user}" method="post">
                                <input th:field="*{id}" type="hidden" class="form-control"/>
                                <div class="form-group has-feedback">
                                    <input th:field="*{username}" type="text" class="form-control" placeholder="User name" required=""/>
                                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                </div>
                                <div class="form-group has-feedback">
                                    <input th:field="*{password}" type="password" class="form-control" placeholder="Password"/>
                                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat" style="width: 25%">Update</button>
                                </div><!-- /.col -->
                            </form>
                            </section>
                            <div class="callout callout-info">
                                <h4>Tip!</h4>
                                <p>Using the Control Panel for easy to use the website and locale the place you need to work with. Everything will be more simple for you managerment.</p>
                            </div>
                            <div class="callout callout-danger">
                                <h4>Warning!</h4>
                                <p>Do not provide your account to strangers or anyone request you except the development team leader.We will not take reposibility for your action if you provide your account to other or getting back your account because the stealer can change anything when they got your account</p>
                            </div>
                            <div class="box box-default">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Blank Box</h3>
                                </div>
                                <div class="box-body">
                                    <p>Any question or opinions please contact us via email supportteam@gmail.com</p>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </section><!-- /.content -->
                    </div><!-- /.box-body -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </section><!-- /.content -->
    </div>
    <footer th:replace="layoutadmin :: footer"></footer>
</div>
</body>
</html>

