<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layoutstaff :: head"></head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <header th:replace="layoutstaff :: header"></header>
    <aside th:replace="layoutstaff :: aside"></aside>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-20">
                    <div class="box box-primary">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h1>Add Course</h1>
                            </div>
                            <div class="box-body">
                                <form action="#" th:action="@{/tms/courses/addCourse}" th:object="${course}" method="post">
                                    <div class="box-body">
                                        <p>Name: </p>
                                        <input required=""  type="text" th:field="*{name}" class="form-control" placeholder="Name..."/>
                                        <div class="form-group">
                                            <label>Description: </label>
                                            <textarea  required="" class="form-control" style="resize: none" id="description" th:field="*{description}"></textarea>
                                            <input class="btn btn-primary" type="submit" value="Submit"/>
                                            <input class="btn btn-primary" type="reset" value="Reset"/>

                                        </div>
                                        <p>Category</p>
                                        <select class="form-control" th:field="*{category}">
                                            <option th:each="item:${listCategory}" th:value="${item.id}" th:text="${item.name}"  th:if="${item.active}" ></option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
            <!-- /.row -->
        </section>
        <!-- /.nav-tabs-custom -->
    </div>
    <footer th:replace="layoutstaff :: footer"></footer>
</div>
</body>
</html>
















