<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layoutstaff :: head"></head>
<body th:attr="class=${role.id==2 ? 'hold-transition skin-purple sidebar-mini' : ''}"
      th:attrappend="class=${role.id==1 ? 'hold-transition skin-red sidebar-mini' : ''}">
<div class="wrapper">
    <!--Header part of the indexwebpage -->
    <th:block th:if="${role.id}==2" th:remove="tag">
        <header th:replace="layoutstaff :: header"></header>
        <aside th:replace="layoutstaff :: aside"></aside>
    </th:block>
    <th:block th:if="${role.id}==1" th:remove="tag">
        <header th:replace="layoutadmin :: header"></header>
        <aside th:replace="layoutadmin :: aside"></aside>
    </th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Courses List
            </h1>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="col-md-15">
                <div class="box">
                    <div class="box-header with-border">
                        <h1>Show list Course</h1>
                    </div>
                    <!--<p>Category</p>-->
                    <!--<select class="form-control" th:>-->
                        <!--<option th:each="item:${listCategory}" th:value="${item.id}" th:text="${item.name}"  th:if="${item.active}" ></option>-->
                    <!--</select>-->
                    <div>
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td>No</td>
                                <td>Name</td>
                                <td>Description</td>
                                <td>Category</td>
                                <td>List topic</td>
                                <td th:if="${role.id}==2">List Trainee</td>
                                <td th:if="${role.id}==2">Assign</td>
                                <td th:if="${role.id}==2">Update</td>
                                <td th:if="${role.id}==2">Delete</td>
                            </tr>
                            <tr th:each="item, itemStat:${listCourse}" th:if="${item.active}">
                                <td th:text="${itemStat.count}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.description}"></td>
                                <td th:text="${item.category.name}"></td>
                                <td style="width:150px"><a type="button" class="btn btn-block btn-info" th:href="@{/tms/courses/{id}/topic(id=${item.id})}" style="color:white;width: 100px">View Topic</a></td>
                                <td th:if="${role.id}==2" style="width:150px"><a type="button" class="btn btn-block btn-info" th:href="@{/tms/courses/{id}/trainees(id=${item.id})}" style="color:white;width: 100px">View</a></td>
                                <td th:if="${role.id}==2" style="width:150px"><a type="button" class="btn btn-block btn-info" th:href="@{/tms/courses/{id}/trainees/assignment(id=${item.id})}" style="color:white;width: 100px">Add trainee</a></td>
                                <td th:if="${role.id}==2" style="width:150px"><a type="button" class="btn btn-block btn-info" th:href="@{/tms/courses/{id}/update(id=${item.id})}" style="color:white;width: 100px">Update</a></td>
                                <td th:if="${role.id}==2" style="width:150px"><a type="button" class="btn btn-block btn-danger" th:href="@{/tms/courses/{id}/delete(id=${item.id})}" onclick="return confirm('Are you sure ?')" style="color:white;width: 100px">Delete</a></td>
                            </tr>
                            <tr>
                                <a th:if="${role.id}==2" class="btn btn-block btn-success" style="width:70px; color:white" th:href="@{/tms/courses/add}">Add</a>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.nav-tabs-custom -->
    </div>
    <th:block th:if="${role.id}==2" th:remove="tag">
        <footer th:replace="layoutstaff :: footer"></footer>
    </th:block>
    <th:block th:if="${role.id}==1" th:remove="tag">
        <footer th:replace="layoutadmin :: footer"></footer>
    </th:block>
</div>
</body>
</html>
















